#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
df=pd.read_csv('supermarket_sales.csv')
type(df)

pandas.core.frame.DataFrame

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [10]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [9]:
branch_profit_sorted = branch_profit.sort_values(ascending=False)
most_profitable_branch = branch_profit_sorted.index[0]
most_profitable_branch

'C'

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [15]:
city_branch = df[df['Branch'] == most_profitable_branch]['City'].iloc[0]
city_branch

'Naypyitaw'

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [16]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [17]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**–ì—ñ–ø–æ—Ç–µ–∑–∏**
1. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –∫—É–ø—É—é—Ç—å –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ?
2. –ß–∏ –∑–∞–ª–µ–∂–∏—Ç—å —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤—ñ–¥ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞ (–Ω–æ–≤–∏–π —á–∏ –ø–æ—Å—Ç—ñ–π–Ω–∏–π)?
3. –Ø–∫—ñ —Ñ–∞–∫—Ç–æ—Ä–∏ (—Ç–∏–ø –∫–ª—ñ—î–Ω—Ç–∞, —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏, –º—ñ—Å—Ü–µ) –≤–ø–ª–∏–≤–∞—é—Ç—å –Ω–∞ –Ω–∞–π–≤–∏—â—ñ —Å—É–º–∏ —á–µ–∫—ñ–≤?

**1.**

In [19]:
df.groupby('City')['Product line'].value_counts()

City       Product line
Mandalay   Fashion accessories       62
           Sports and travel         62
           Electronic accessories    55
           Health and beauty         53
           Food and beverages        50
           Home and lifestyle        50
Naypyitaw  Food and beverages        66
           Fashion accessories       65
           Electronic accessories    55
           Health and beauty         52
           Home and lifestyle        45
           Sports and travel         45
Yangon     Home and lifestyle        65
           Electronic accessories    60
           Sports and travel         59
           Food and beverages        58
           Fashion accessories       51
           Health and beauty         47
Name: count, dtype: int64

**2.**

In [28]:
df.groupby('Customer type')['Total'].mean()

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

**3.**

In [26]:
df_pivot = df.pivot_table(values='Total', index=['Customer type', 'Payment'], columns='City', aggfunc='max')
df_pivot

City                       Mandalay  Naypyitaw     Yangon
Customer type Payment
Member        Cash          867.090     950.25   932.3370
              Credit card   944.622    1042.65   843.0345
              Ewallet       918.729    1034.46   951.8250
Normal        Cash          833.595    1003.59   926.9505
              Credit card  1022.385     939.54  1039.2900
              Ewallet      1022.490    1023.75   781.6200

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 1:** –ü–æ–ø–∏—Ç –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –≤ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö.
–¶–µ –¥–∞—î –∑–º–æ–≥—É —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É –∫—Ä–∞—â–µ –ø–ª–∞–Ω—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –¥–ª—è –∫–æ–∂–Ω–æ—ó –ª–æ–∫–∞—Ü—ñ—ó ‚Äî –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –¥–æ–º—É –≤ Yangon, –±—ñ–ª—å—à–µ —ó–∂—ñ –π –Ω–∞–ø–æ—ó–≤ —É Naypyitaw, –±—ñ–ª—å—à–µ –º–æ–¥–Ω–∏—Ö –∞–∫—Å–µ—Å—É–∞—Ä—ñ–≤ —É Mandalay. –¶–µ –º–æ–∂–µ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –ø—Ä–æ–¥–∞–∂—ñ —Ç–∞ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤.

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 2:** –£—á–∞—Å–Ω–∏–∫–∏ –ø—Ä–æ–≥—Ä–∞–º –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –º–∞–≥–∞–∑–∏–Ω—É —Ç—Ä–æ—Ö–∏ –±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É. –¶–µ –ª–æ–≥—ñ—á–Ω–æ, –∞–¥–∂–µ –≤–æ–Ω–∏ –º–æ–∂—É—Ç—å —á–∞—Å—Ç—ñ—à–µ —Ä–æ–±–∏—Ç–∏ –ø–æ–∫—É–ø–∫–∏ –∞–±–æ –∫—É–ø—É–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è: —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, —â–æ–± –∑–∞–ª—É—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤.

**–ì—ñ–ø–æ—Ç–µ–∑–∞ 3:** –ù–∞–π–±—ñ–ª—å—à—ñ –ø–æ–∫—É–ø–∫–∏ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å —è–∫ —É—á–∞—Å–Ω–∏–∫–∏ –ø—Ä–æ–≥—Ä–∞–º –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, —Ç–∞–∫ —ñ –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ, –∞–ª–µ —Å—É–º–∏ –∑–Ω–∞—á–Ω–æ –∫–æ–ª–∏–≤–∞—é—Ç—å—Å—è –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ —ñ –º—ñ—Å—Ç–∞. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —É Naypyitaw –ø–æ–∫—É–ø—Ü—ñ-—É—á–∞—Å–Ω–∏–∫–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –∫—Ä–µ–¥–∏—Ç–Ω–æ—é –∫–∞—Ä—Ç–∫–æ—é –∞–±–æ ewallet, —Ç–æ–¥—ñ —è–∫ —É Yangon –Ω–∞–π–±—ñ–ª—å—à—ñ –ø–æ–∫—É–ø–∫–∏ —É –∑–≤–∏—á–∞–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ —Ç–∞–∫–æ–∂ –ø—Ä–æ—Ö–æ–¥—è—Ç—å –ø–æ –∫—Ä–µ–¥–∏—Ç—Ü—ñ.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è:–£ –º—ñ—Å—Ç—ñ Naypyitaw —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤–∏—â–∏–π, –Ω—ñ–∂ —É –Ø–Ω–≥–æ–Ω—ñ —á–∏ –ú–∞–Ω–¥–∞–ª–∞—ó. –¶–µ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ –±—ñ–ª—å—à—É –∫—É–ø—ñ–≤–µ–ª—å–Ω—É —Å–ø—Ä–æ–º–æ–∂–Ω—ñ—Å—Ç—å ‚Äî –≤–∞—Ä—Ç–æ —ñ–Ω–≤–µ—Å—Ç—É–≤–∞—Ç–∏ –≤ –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –º–∞–≥–∞–∑–∏–Ω–∏ —á–∏ –ø—Ä–µ–º—ñ—É–º-—Ç–æ–≤–∞—Ä–∏ —Å–∞–º–µ —Ç–∞–º.